<style>
	body{
		background-image: url("/God Eater/main.jpeg");
		background-size: cover;
	}
</style>
<div class="container" style="background-color: white; width: 75%;">
	<div class="container-fluid" style="margin: 0px; padding: 0px; width: 90%;">
		<div class="row">
			{{#rows}}
    		<div class="col-sm-6">
    			<img src="{{imgurl}}" style="width: 100%;">
    		</div>
    		<div class="col-sm-6">
				<div class="col-sm-12">
					<h2>{{name}}</h2>
				</div>
				<div class="col-sm-12">
					<h4>Rating: {{rating}}<span style="font-size:180%;color:grey;">&starf;</span></h4>
				</div>
				<div class="col-sm-12">
					<h4>Release Date: {{date_release}}</h4>
				</div>
				<div class="col-sm-12">
					<h4> Description:</h4>
					<h4 style="text-indent: 50px; text-align: justify;">{{description}}</h4>
				</div>
				{{/rows}}
			</div>
		</div>
	</div>
</div>
